@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  background: inherit;
  mix-blend-mode: difference;

}

a:hover {
  cursor: pointer;
}

.navbar > a {
  filter: invert(1);
}
.main-text {
  font-size: clamp(3.25rem, 0.3891rem + 12.2066vw, 11.375rem);
}

.chapters-btn {
  background: #ffffff;
  mix-blend-mode: difference;
}
