@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; 	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; }

:-webkit-scrollbar {
	display: none;
}

body {
  scrollbar-width: none;  /* Firefox */
}

.navbar {
  background: inherit;
  mix-blend-mode: difference;

}

a:hover {
  cursor: pointer;
}

.navbar > a {
  filter: invert(1);
}
.main-text {
  font-size: clamp(3.25rem, 0.3891rem + 12.2066vw, 11.375rem);
}

.chapters-btn {
  background: black;

  border: 1px solid rgba(0, 0, 0, 0.33);

  background-image:
    linear-gradient(to top, black 50%, #fff 50%),
    linear-gradient(to top, white 50%, transparent 50%);

  background-clip: text, padding-box;
  color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.25s ease-in-out;
  animation: 1.33s bounce 600ms linear;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }

  25%, 75% {
    transform: translate(-50%, 15%);
  }

  50% {
    transform: translate(-50%, 5%);
  }
}

.chapters-btn:hover {
  background-position: bottom;
}

.banner {
  opacity: 1;
  transform: translate(0, 0);
  animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
  0%, 20%, 30%  { opacity: 0; transform: translate(0, 0) scale(0) }
  40% { opacity: 0.3;  transform: translate(0, 0) scale(0.3)}
  60% { opacity: 0.5; transform: translate(0, 0) scale(0.5)}
  80% { opacity: 0.9; transform: translate(0, 0) scale(0.9)}
  100% { opacity: 1;  transform: translate(0, 0) scale(1)}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slides ::-webkit-scrollbar {
	display: none;
}

.slides {
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slick-track {
  display: flex;
  align-items: flex-end;
}

.slick-dots {
  bottom: -60px;

  @media (min-width: 640px) {
    bottom: -40px
  }
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: white
}